<section class="container">
    <div class="container-maintitle">
        <h2>Create a new ticket</h2>
    </div>
    <hr />
    <div class="ticket">
        <form [formGroup]="form" class="ticket__content--form" (ngSubmit)="onSubmit()">
            <div class="ticket__header">
                <h3>Ticket ID: <span>654654-5454</span></h3>
                <button type="submit" class="btn blue-button confirm">Confirm</button>
            </div>
            <hr />
            <div class="ticket__content">
                
                    <div class="ticket__content__left">
                        <div class="item-form">
                            <label for="title">Title</label>
                            <input formControlName="title" type="text" name="title" id="title" required>
                        </div>
                        <div class="item-form">
                            <label for="description">Description</label>
                            <textarea formControlName="description" name="description" cols="40" rows="5"></textarea>
                        </div>
                        <div class="item-form">
                            <label for="category">Category</label>
                            <select formControlName="category"  name="all" id="category-select">
                                <option value="">Select</option>
                                <option value="blog">Blog</option>
                                <option value="documentation">Documentation</option>
                                <option value="library">Library</option>
                            </select>  
                        </div>
                        <div class="item-form">
                            <label for="status">Status</label>
                            <select formControlName="status" name="both" id="status-select">
                                <option value="">Select</option>
                                <option value="OK">OK</option>
                                <option value="FORWARD">Forward</option>
                                <option value="WARNING">Warning</option>
                                <option value="DECLINE">Decline</option>
                            </select> 
                        </div>
                    </div>
                    <div class="ticket__content__right">
                        <div class="item-form">
                            <label for="title">My name</label>
                            <input formControlName="fullname" type="text" name="title" id="title" required>
                        </div>
                        <div class="item-form">
                            <label for="i-am">I am</label>
                            <div class="status-ext-int">
                                <input formControlName="internal"  type="radio" name="internal" value="false"
                                    checked>
                                <label for="false">External</label>
                            </div>
                            
                            <div class="status-ext-int">
                                <input formControlName="internal" type="radio" name="internal" value="true">
                                <label for="true">Internal</label>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</section>

<div class="notification" [ngClass]="shouldPlotNotification ? 'active' : ''">
    <span>Please fill all the input fields.</span>
</div>
