<section class="container">
    <div class="menu-container">
        <app-sort-card></app-sort-card>
        <app-filter-card></app-filter-card>
    </div>
    <div class="tickets-container">
        <div class="tickets-container__content">
            <div class="principal-content">
                <span>Showing <strong>{{ (tickets$ | async)?.length }}</strong> tickets out of <strong>{{ (ticketsOriginal$ | async)?.length }}</strong></span>
                <a class="btn blue-button create-new-ticket" href="#">CREATE A NEW TICKET</a>
            </div>
            <hr />
        </div>
        <app-list [tickets]="tickets$ | async"></app-list>
    </div>
</section>
