@import "../../../variables.scss";

.container {
    display: grid;
    grid-template-columns: 20% 1fr;
    height: 95vh;
    margin-left: 60px;
    margin-top: 64px;

    .menu-container {
        padding: 30px;
        display: flex;
        row-gap: 30px;
        flex-direction: column;
    }
    .tickets-container {
        width: 95%;

        &__content {
            margin: 20px auto;
            padding: 0 10px;

            .principal-content {
                margin: 10px auto;
                display: flex;
                justify-content: space-between;

                span {
                    font-size: 1.5em;
                    font-weight: 400;
                    color: $tertiary;
                }

                
            }

            hr {
                margin: 0;
            }
            
        }

    }
}