@import './variables.scss';
@import '~material-design-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $medium;
}

h1, h2, h3, h4, h5, p, span, a, label {
  font-family: "Roboto", sans-serif;
}

hr {
  margin: 0 10px;
  height: .1px;
}

.btn {
  cursor: pointer;
  outline: none;

  &.blue-button {
      background-color: $secondary;
      color: white;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
      border: none;
  }


  &.underline-btn {
      display: block;
      margin: 10px 0;
      font-size: 1em;
      text-decoration: underline;
      color: $secondary;
      border: none;
      background-color: transparent;
  }

}